.App {
  text-align: center;
}

.aim-lunch-title {
  font-family: Circular Std;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.aim-lunch-page-title {
  /* Thành viên dự án (24) */

  font-family: Google Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  text-align: center;

  color: #000000;
  margin-bottom: 16px;
}

.aim-lunch-font-label {
  font-family: Google Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.aim-lunch-font-menu-label {
  font-family: Google Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #4f4f4f;
}

.aim-lunch-font-body {
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
}
